# Build very simple java library with Gradle, Open JDK 11

before_install:
  # Set Gradle builder executable permissions
  - chmod +x gradlew

language: java
install: true
jdk: openjdk11

addons:
  sonarcloud:
    organization: "BranislavBeno"
    token:
      secure: ${SONAR_TOKEN}

script:
  # Use Gradle as tester
  - ./gradlew test
  # Trigger with Gradle static and dynamic code analysis
  - ./gradlew sonarqube
